ABOUT
<br />
<custom-message></custom-message>
<br />
<hello-world></hello-world>

<hide-button></hide-button>
<div h-if="hideMe">
    CLICK THE BUTTON TO HIDE ME
</div>

<style>
    .hide {
        display: none;
    }
</style>
